.text-white{
    color:aliceblue;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    
}

.btn{
    padding:10px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    background-color: green;
}